<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of list | orderBy: '-createdAt'" (click)="onItemClick(item)">
    <img src="{{item.image}}" />
    <ion-card-header>
      <ion-card-title appTextStyle color="red">
        {{item.title}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <span>{{item.createdAt | date: 'shortDate'}}</span>
      <div>{{item.value | currency:'BRL'}}</div>
      <p>
        {{item.description}}
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>