<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button (click)="onEditClick()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{item?.title}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <app-product-card [item]="item" (click)="onItemClick(item)">
  </app-product-card>

</ion-content>