<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{item?.title}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="item">
    <img src="{{item.image}}" />
    <ion-card-header>
      <ion-card-title>
        {{item.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{item.description}}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
